.svn
makepkg
Makefile
ManPageEditor/app/Makefile
ManPageEditor/src/.deps/
ManPageEditor/src/.dirstamp
config.h
config.log
config.status
stamp-h1
*.o
ManPageEditor/app/manpageeditor
autom4te.cache
configure
*~