[Desktop Entry]
Name=ManPageEditor
Comment=©K.D.Hedger 2013-2015 A simple Manpage editor
Terminal=false
Type=Application
Categories=Development;
MimeType=application/x-maneditdoc
Exec=manpageeditor
Icon=ManPageEditor
